<%- include('../parts/head') %>
<%- include('../parts/header') %>
<div class="container">
    <h1>Hi, I am <%= user.firstName  %> <%= user.lastName %></h1>
    <h2>Bine ai venit pe blogul meu!</h2>
</div>





<%- include('../parts/footer') %>
